<div class="h-16 flex p-4 border-b items-center">
  <a routerLink="/" class="w-32">Logo</a>
  <div class="flex w-full">
    <div class="flex flex-1 gap-10 font-semibold">
      <a class="hover:text-blue-700" routerLink="/categories">Categories</a>
      <a class="hover:text-blue-700" routerLink="/products">Products</a>
      <a class="hover:text-blue-700" routerLink="/users">Users</a>
      <a class="hover:text-blue-700" routerLink="/lifecycle-hooks">Lifecycle hooks</a>
    </div>
    <div>
      Avatar
    </div>
  </div>
</div>